@model TheBankMVC.Models.UserAccount

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>UserAccount</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="BankId" class="control-label"></label>
                <input asp-for="BankId" class="form-control" />
                <span asp-validation-for="BankId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserAccountId" class="control-label"></label>
                <input asp-for="UserAccountId" class="form-control" />
                <span asp-validation-for="UserAccountId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserAccountName" class="control-label"></label>
                <input asp-for="UserAccountName" class="form-control" />
                <span asp-validation-for="UserAccountName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNo" class="control-label"></label>
                <input asp-for="PhoneNo" class="form-control" />
                <span asp-validation-for="PhoneNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShareSubmitted" class="control-label"></label>
                <input asp-for="ShareSubmitted" class="form-control" />
                <span asp-validation-for="ShareSubmitted" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FineSubmitted" class="control-label"></label>
                <input asp-for="FineSubmitted" class="form-control" />
                <span asp-validation-for="FineSubmitted" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InterestSubmitted" class="control-label"></label>
                <input asp-for="InterestSubmitted" class="form-control" />
                <span asp-validation-for="InterestSubmitted" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="AmountOnLoan" class="control-label"></label>
                <input asp-for="AmountOnLoan" class="form-control" />
                <span asp-validation-for="AmountOnLoan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
