@model BudgetManager.Models.Group

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Group</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="GroupId" />
            <div class="form-group">
                <label asp-for="GroupName" class="control-label"></label>
                <input asp-for="GroupName" class="form-control" />
                <span asp-validation-for="GroupName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GroupInstallmentAmount" class="control-label"></label>
                <input asp-for="GroupInstallmentAmount" class="form-control" />
                <span asp-validation-for="GroupInstallmentAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DefaultLoanInterest" class="control-label"></label>
                <input asp-for="DefaultLoanInterest" class="form-control" />
                <span asp-validation-for="DefaultLoanInterest" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DefaultNoOfInstallment" class="control-label"></label>
                <input asp-for="DefaultNoOfInstallment" class="form-control" />
                <span asp-validation-for="DefaultNoOfInstallment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GroupInstallmentDelayFine" class="control-label"></label>
                <input asp-for="GroupInstallmentDelayFine" class="form-control" />
                <span asp-validation-for="GroupInstallmentDelayFine" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GroupInstallmentDelayFineType" class="control-label"></label>
                <input asp-for="GroupInstallmentDelayFineType" class="form-control" />
                <span asp-validation-for="GroupInstallmentDelayFineType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GroupInstallmentDelayFineTerm" class="control-label"></label>
                <input asp-for="GroupInstallmentDelayFineTerm" class="form-control" />
                <span asp-validation-for="GroupInstallmentDelayFineTerm" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LoanDelayFine" class="control-label"></label>
                <input asp-for="LoanDelayFine" class="form-control" />
                <span asp-validation-for="LoanDelayFine" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LoanDelayFineType" class="control-label"></label>
                <input asp-for="LoanDelayFineType" class="form-control" />
                <span asp-validation-for="LoanDelayFineType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LoanDelayFineTerm" class="control-label"></label>
                <input asp-for="LoanDelayFineTerm" class="form-control" />
                <span asp-validation-for="LoanDelayFineTerm" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InterestTermID" class="control-label"></label>
                <input asp-for="InterestTermID" class="form-control" />
                <span asp-validation-for="InterestTermID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateFormat" class="control-label"></label>
                <input asp-for="DateFormat" class="form-control" />
                <span asp-validation-for="DateFormat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
