@model BudgetManager.ViewModels.TransactionsViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Transaction</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Groups" class="control-label"></label>
                @Html.DropDownListFor(m => m.GroupId, new SelectList(Model.Groups, "GroupId", "GroupName").ToList(), "-Select-", new { @class = "form-control", id = "groupSelect" })
                <span asp-validation-for="Groups" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserAccounts" class="control-label"></label>
                @Html.DropDownListFor(m => m.UserAccountId, new List<SelectListItem>(), "-Select-", new { @class = "form-control", id = "accountSelect" })
                <span asp-validation-for="UserAccounts" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TransactionTypeId" class="control-label"></label>
                @Html.DropDownListFor(m => m.TransactionTypeId, Html.GetEnumSelectList<Enumeration.TransactionType>(), "-Select-", new { @class = "form-control", id = "TransactionTypeId" })
                <span asp-validation-for="TransactionTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TransactionAmount" class="control-label"></label>
                <input asp-for="TransactionAmount" class="form-control" />
                <span asp-validation-for="TransactionAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReferenceTypeId" class="control-label"></label>
                @Html.DropDownListFor(m => m.ReferenceTypeId, new List<SelectListItem>(), "-Select-", new { @class = "form-control", id = "ReferenceTypeIdSelect" })
                <span asp-validation-for="ReferenceTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TransactionRemark" class="control-label"></label>
                <input asp-for="TransactionRemark" class="form-control" />
                <span asp-validation-for="TransactionRemark" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        
    <script>
        $(document).ready(function () {
            $('#groupSelect').change(function () {
                $.ajax({
                    type: "Get",
                    url: "/api/UserAccounts",
                    data: { query: $('#groupSelect').val() },
                    datatype: "json",
                    traditional: true,
                    success: function (data) {
                        var accounts = "<select id='accounts'>";
                        accounts = accounts + '<option value="">-Select-</option>';
                        for (var i = 0; i < data.length; i++) {
                            accounts = accounts + '<option value=' + data[i].userAccountId + '>' + data[i].userAccountName + '</option>';
                        }
                        accounts = accounts + '</select>';
                        $('#accountSelect').html(accounts);
                    }
                });
            });
        });


        $(document).ready(function () {
            $('#TransactionTypeId').change(function () {
                var transactionTypeId = $('#TransactionTypeId').val();

                var data = [];
                if (transactionTypeId == 1) {
                    data = ["-Select-", "IndividualLoan", "Groupwithdrawal"];
                } else {
                    data = ["-Select-", "LoanPrinciple", "LoanInterest", "GroupInstallment", "LoanEMIFine", "GroupInstallmentFine"];
                }

                var referenceTypes = "<select id='ReferenceTypes'>";
                for (var i = 0; i < data.length; i++) {
                    referenceTypes = referenceTypes + '<option value=' + i + '>' + data[i] + '</option>';
                }
                referenceTypes = referenceTypes + '</select>';
                $('#ReferenceTypeIdSelect').html(referenceTypes);
            });
        });
    </script>
}
